# Токен бота, который выдаёт @BotFather
TELEGRAM_BOT_TOKEN=

# Публичный https-адрес твоего сервера после деплоя на Render (например https://mitso-schedule.onrender.com)
WEBAPP_URL=

# Данные твоей группы — бери ровно те значения, что видел(а) в Payload запроса group-schedule
GROUP_FAK=Экономический
GROUP_FORM=Dnevnaya
GROUP_KURSE=1 kurs
GROUP_CLASS=2611 MN
